annotations
image-sets
images
labelTxt
pre-trained-weights
predictions
save
.gitignore.swp
utils/box/ext/rbbox_overlap_cpu/build
utils/box/ext/rbbox_overlap_gpu/build
*.so
__pycache__
config
.ipynb_checkpoints
